<h2 class="center">Welcome Back!</h2>
<hr>
<br>
<h5 class="center">Please Login </h5>
 <div class="row">
  <form class="col s12" action="/login" method="post">
    <div class="row">
      <div class="input-field col s6">
      <i class="material-icons prefix" style="margin-top: 6px; margin-left: 2px">assignment_ind</i>
        <label for="username">Enter Username:</label>
         <input type="text" name="user[username]" id="username">
      </div>
       <div class="input-field col s6">
       <i class="material-icons prefix" style="margin-top: 6px; margin-left: 6px">lock</i>
        <label for="password">Enter Password:</label>
        <input type="password" name="user[password]" id="password">
          <br>
          <br>
      </div>
        
        
        <button class="btn waves-effect waves-light grey darken-1" type="submit" name="action">Login
    <i class="material-icons right">send</i>
  </button>
   </div>
 </form>
</div>