 <h1> <%= current_user.name %> </h1>
<hr>

<h4><a href="/recipes/new"> Add New +</a></h4>

<% @recipes.each do |recipe|%>
  <div class="divider"></div>
    <div class="section">
    <h4><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h4>
     <h6><%= recipe.meal_type %></h6><br>
   </div>
<% end %>
          




