<h1><%= current_user.name %>'s New Recipe </h1>
<hr>

<h4>Enter new recipe below:</h4><br><br><br>
<form action="/recipes" method="post">
    <input type="text" name="recipe[name]" placeholder="Ex. Grilled-Cheese" id="name">
    <label for="meal_type">Meal Type:</label>
    <input type="text" name="recipe[meal_type]" placeholder="Lunch" id="meal_type"><br><br>
    <div class="row">
     <div class="col s12 m4 l3">
        <label for="prep_time"><h5 class="bold">Prep Time:</h5></label><br>
        <input type="integer" name="recipe[prep_hr]" placeholder="hr" id="prep_hr"><br>
        <input type="integer" name="recipe[prep_min]" placeholder="min" id="prep_min"><br><br>
        </div>
        <div class="row">
            <div class="col s12 m4 l3">
                <label for="time"><h5 class="bold">Cooking Time:</h5></label><br>
                <input type="integer" name="recipe[time_hr]" placeholder="hr" id="time_hr"><br>
                <input type="integer" name="recipe[time_min]" placeholder=" min" id="time_min"><br><br>  
            </div>
            <div class="col s12 m3">
                <label for="servings"><h5 class="bold">Serving(s):</h5></label><br>
                <input type="integer" name="recipe[servings]" placeholder="" id="servings">
            </div>
     <div class="row">
        <div class="col s12 m3">
            <div class="input-field col s12">
             <label for="ingredients"><h5 class="bold">Ingredient(s):</h5></label><br><br>
                <textarea name="recipe[ingredients]" id="ingredients" class="materialize-textarea" placeholder="Enter ingredients here..."></textarea><br><br>
            </div>   
        </div> 
        <br>  
         <div class="row">
             <div class= "col s12 ">       
                <label for="instructions"><h5 class="bold">Instructions:</h5></label>
                 <textarea name="recipe[instructions]" id="instructions" cols="4" rows="30" class="materialize-textarea">
                    </textarea><br><br>
                    <input type="submit" value="Create Recipe">
                </div> 
            </div>  
        </div>
    </div>
</form>
      <%# t.text  :name
      t.integer :time_min
      t.integer :time_hr
      t.integer :prep_min
      t.integer :prep_hr
      t.integer :servings
      t.text :meal_type
      t.text :ingredients
      t.text :instructions
      t.integer :user_id
      t.timestamps null: false
  end %>