<h1>Welcome to Your Virtual Cookbook</h1>

<h3>Please enter your name and create username and password below.</h3>  

<div class="row">
  <form class="col s12" action="/signup" method="post">
    <div class="row">
      <div class="input-field col s6">
        <label for="name">Name:</label>
           <input type="text" name="user[name]" id="name"><br>
      <div>
      <div class="input-field col s6">
        <label for="username">Create Username:</label>
        <input type="text" name="user[username]" id="username">
      </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
        <label for="password">Create Password:</label>
        <input type="password" name="user[password]" id="password">
      </div>
    </div>

  <button class="btn waves-effect waves-light grey darken-1" type="submit" name="action">Create Account
    <i class="material-icons right">send</i>
  </button>
    </div> 
  </form>
</div> 
