<h2 class="center">Welcome!</h2>
<hr>
<br><br>
      
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-3 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVczSAzZfGL2LJvP1w_YzXteX6SLXvHVrk4A&usqp=CAU" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text">
                <h6> Welcome to your Virtual CookBook! <br><br> Don't have an account?<br>Select 'New Account'.</h6>
              </span>
            </div>
          </div>
        </div>
      </div>
   
 